{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

  {% block background_image %}
  <div id="fh5co-hero" style="background-image: url({% static 'images/BG/BG_.jpg' %})">
  {% endblock background_image %}

    {% block header_on_background %}
    <a href="#fh5co-main" class="smoothscroll animated bounce fh5co-arrow"><i class="ti-angle-down"></i></a>
    <div class="overlay"></div>
    <div class="container">
      {% block main_title %}
      <div class="col-md-8 col-md-offset-2">
        <div class="text">
          <h1><strong>Олег Романович!</strong> <p>Вітаю з днем народження!</p></h1>
        </div>
      </div>
      {% endblock main_title %}
    </div>
  </div>
  {% endblock header_on_background %}

  {% block main_content %}

  <main role="main" id="fh5co-main">
    <section class="feature">
      <div class="container">
        <div class="row">

          <div class="col-md-4">
            <div class="feature-item">
              <div class="feature-icon"><i class="icon ti-gift"></i></div>
              <div class="feature-text">
                <h3>Щастя</h3>
                <p>Нехай волошками цвітуть літа прекрасні, 
                    Нехай здійсняться тисячі бажань, 
                    Щоб доля дарувала тільки щастя, 
                    Ні грама бід, ні крапельки страждань!</p>
                    <p>Будьте щасливі та приносьте щастя важливим вам людям!</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-item">
              <div class="feature-icon"><i class="icon ti-star"></i></div>
              <div class="feature-text">
                <h3>Здоров'я</h3>
                <p>Щоб здоров’я міцніло з кожним днем, І не зникало очей сяйво, Щоб не знаходили вдень з вогнем Ні смуток, ні біль, ні відчай!</p>
                <p>Не хворійте, щоб нічого не заважало здійматись на нові вершини!</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-item">
              <div class="feature-icon"><i class="icon ti-heart"></i></div>
              <div class="feature-text">
                <h3>Любові</h3>
                <p>Життя хай квітне, мов вишневий сад, 
                  І кожен день усміхнено радіє, 
                  А доля подарує зорепад 
                  Кохання, миру, любові та надії!</p>
                  <p>Кохайте і будьте коханими!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END .feature -->

    <section class="grid-gallery">
      <div class="container">
        <div class="row">
            <object height="700" width="100%">
            <param name="movie" value="https://www.youtube.com/watch?v=Rg0BfdskKIc">
            <param name="wmode" value="transparent">
            <embed height="700" src="https://www.youtube.com/v/Rg0BfdskKIc?rel=0" type="application/x-shockwave-flash" width="100%" wmode="transparent">
            </object>       
        </div>
      </div>
    </section>

    <section class="grid-gallery">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <h2 class="section-heading">Лихі 1900-ті</h2>
          </div>
        </div>

        <div class="row gallery-row">
          
          <div class="col-md-6 col-sm-6">
            <a href="{% static 'images/old_1.jpg' %}" class="img image-popup">
              <div class="overlay"></div>
              <div class="text">
                <h2>Ще з малих літ починав підкорювати нові вершини!</h2>
              </div>
              <img src="{% static 'images/old_1.jpg' %}" width='700px' height='500px' alt="Image" class="img-responsive">
            </a>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="row first-row">
              
              <div class="col-md-6 col-sm-6">
                <a href="{% static 'images/old_2.jpg' %}" class="img image-popup">
                  <div class="overlay"></div>
                  <div class="text">
                    <h2>Будучи ще малим та зеленим, розумів всю серйозність цього світу</h2>
                  </div>
                  <img src="{% static 'images/old_2.jpg' %}" width='700px' height='500px' alt="Image" class="img-responsive">
                </a>
              </div>
              <div class="col-md-6 col-sm-6">
                <a href="{% static 'images/old_3.jpg' %}" class="img image-popup">
                  <div class="overlay"></div>
                  <div class="text">
                    <h2>Не зважаючи на все, всерівно був вищим на голову за всіх :)</h2>
                  </div>
                  <img src="{% static 'images/old_3.jpg' %}" width='700px' height='500px' alt="Image" class="img-responsive">
                </a>
              </div>
              
              

              <div class="col-md-6 col-sm-6">
                <a href="{% static 'images/02.jpg' %}" class="img image-popup">
                  <div class="overlay"></div>
                  <div class="text">
                    <h2>Ще в таборі не злюбив коли ним командують!</h2>
                  </div>
                  <img src="{% static 'images/02.jpg' %}" width='700px' height='500px' alt="Image" class="img-responsive">
                </a>
              </div>

              <div class="col-md-6 col-sm-6">
                <a href="{% static 'images/01.jpg' %}" class="img image-popup">
                  <div class="overlay"></div>
                  <div class="text">
                    <h2>Але прийшлось поки з цим миритись :(</h2>
                  </div>
                  <img src="{% static 'images/01.jpg' %}" width='700px' height='500px' alt="Image" class="img-responsive">
                </a>
              </div>

              <div class="col-md-6 col-sm-6">
                <a href="{% static 'images/07.jpg' %}" class="img image-popup">
                  <div class="overlay"></div>
                  <div class="text">
                    <h2>Трошки сімейного застілля :)</h2>
                  </div>
                  <img src="{% static 'images/07.jpg' %}" width='700px' height='500px' alt="Image" class="img-responsive">
                </a>
              </div>
              <!-- <div class="col-md-6 col-sm-6">
                <a href="{% static 'images/03.jpg' %}" class="img image-popup">
                  <div class="overlay"></div>
                  <div class="text">
                    <h2>Нічого такого, просто фото з якоюсь дівчинкою xD</h2>
                  </div>
                  <img src="{% static 'images/03.jpg' %}" width='700px' height='500px' alt="Image" class="img-responsive">
                </a>
              </div> -->
            </div>
        </div>
        </div>
          <div class="col-md-6 col-sm-6">
            <a href="{% static 'images/05.jpg' %}" class="img image-popup">
              <div class="overlay"></div>
              <div class="text">
                <h2>Ну всьо, вже кавалєр нема ради.</h2>
              </div>
              <img src="{% static 'images/05.jpg' %}" width='700px' height='500px' alt="Image" class="img-responsive">
            </a>
          </div>
          <div class="col-md-6 col-sm-6">
            <a href="{% static 'images/12.jpg' %}" class="img image-popup">
              <div class="overlay"></div>
              <div class="text">
                <h2>Не встиг отямитись як з простого духа став серйозним дєдом!</h2>
              </div>
              <img src="{% static 'images/12.jpg' %}" width='700px' height='500px' alt="Image" class="img-responsive">
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="grid-gallery">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <h2 class="section-heading">Без них було б скучніше жити</h2>
          </div>
        </div>

        <div class="row gallery-row">
          
          <div class="col-md-6 col-sm-6">
            <a href="{% static 'images/Friends/1.jpg' %}" class="img image-popup">
              <div class="overlay"></div>
              <div class="text">
                <h2>Роки йдуть, а підкорені вершини не закінчуться і не закінчуются!</h2>
              </div>
              <img src="{% static 'images/Friends/1.jpg' %}" width='700px' height='500px' alt="Image" class="img-responsive">
            </a>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="row first-row">
              
              <div class="col-md-6 col-sm-6">
                <a href="{% static 'images/Friends/2.JPG' %}" class="img image-popup">
                  <div class="overlay"></div>
                  <div class="text">
                    <h2>Перші модніки на селі</h2>
                  </div>
                  <img src="{% static 'images/Friends/2.JPG' %}" width='700px' height='500px' alt="Image" class="img-responsive">
                </a>
              </div>
              <div class="col-md-6 col-sm-6">
                <a href="{% static 'images/Friends/3.JPG' %}" class="img image-popup">
                  <div class="overlay"></div>
                  <div class="text">
                    <h2>Трошки няшності не помішає :)</h2>
                  </div>
                  <img src="{% static 'images/Friends/3.JPG' %}" width='700px' height='500px' alt="Image" class="img-responsive">
                </a>
              </div>
              <div class="col-md-6 col-sm-6">
                <a href="{% static 'images/Friends/4.JPG' %}" class="img image-popup">
                  <img src="{% static 'images/Friends/4.JPG' %}" width='700px' height='500px' alt="Image" class="img-responsive">
                </a>
              </div>
            </div>
          </div>
        </div>

          <div class="col-md-6 col-sm-6">
            <a href="{% static 'images/Friends/6.JPG' %}" class="img image-popup">
              <div class="overlay"></div>
              <div class="text">
                <h2>Три Олега - Три Мушкетера!</h2>
              </div>
              <img src="{% static 'images/Friends/6.JPG' %}" width='700px' height='500px' alt="Image" class="img-responsive">
            </a>
          </div>

          <div class="col-md-6 col-sm-6">
            <a href="{% static 'images/Friends/5.JPG' %}" class="img image-popup">
              <div class="overlay"></div>
              <div class="text">
                <h2>Ало мам, я буду в хлам :)</h2>
              </div>
              <img src="{% static 'images/Friends/5.JPG' %}" width='700px' height='500px' alt="Image" class="img-responsive">
            </a>
          </div>

        </div>
      </div>
    </section>


    <section class="grid-gallery">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <h2 class="section-heading">Сім’я — найдорожче, що у нас є в цьому житті</h2>
          </div>
        </div>
        
        <div class="col-md-6 col-sm-6">
          <a href="{% static 'images/Family/4.JPG' %}" class="img image-popup">
            <div class="overlay"></div>
            <div class="text">
              <h2> Мама - це перше слово, яке ми сказали в дитинстві. Мама - це та людина, яка тебе кохає, допомагає тобі, піклується про тебе. Матуся - це найдорожча людина у світі.</h2>
            </div>
            <img src="{% static 'images/Family/4.JPG' %}" width='700px' height='500px' alt="Image" class="img-responsive">
          </a>
        </div>
        <div class="col-md-6 col-sm-6">
          <a href="{% static 'images/Family/11.JPG' %}" class="img image-popup">
            <div class="overlay"></div>
            <div class="text">
              <h2>То брати, то є тоже святе)</h2>
            </div>
            <img src="{% static 'images/Family/11.JPG' %}" width='700px' height='500px' alt="Image" class="img-responsive">
          </a>
        </div>

        <div class="row">
          <div class="col-md-6 col-md-offset-3">
              <a href="{% static 'images/Family/10.JPG' %}" class="img image-popup">
                <div class="overlay"></div>
                <div class="text">
                  <h2>Свята - одні з не багатьох моментів, коли вся сім'я може зібратись разом за одним столом</h2>
                </div>
                <img src="{% static 'images/Family/10.JPG' %}" width='700px' height='500px' alt="Image" class="img-responsive">
              </a>
            </div>
        </div>

        <div class="col-md-6 col-sm-6">
          <a href="{% static 'images/Family/6.JPG' %}" class="img image-popup">
            <div class="overlay"></div>
            <div class="text">
              <h2>Довго шукав, але знайшов ту саму любов всього життя</h2>
            </div>
            <img src="{% static 'images/Family/6.JPG' %}" width='700px' height='500px' alt="Image" class="img-responsive">
          </a>
        </div>
        <div class="col-md-6 col-sm-6">
          <a href="{% static 'images/Family/0.jpg' %}" class="img image-popup">
            <div class="overlay"></div>
            <div class="text">
              <h2>І вирішив, шо то має бути його :)</h2>
            </div>
            <img src="{% static 'images/Family/0.jpg' %}" width='700px' height='500px' alt="Image" class="img-responsive">
          </a>
        </div>
        <div class="col-md-6 col-sm-6">
          <a href="{% static 'images/Family/12.JPG' %}" class="img image-popup">
            <div class="overlay"></div>
            <div class="text">
              <h2>Ну шо тут сказати, перший пішов :)</h2>
            </div>
            <img src="{% static 'images/Family/12.JPG' %}" width='700px' height='500px' alt="Image" class="img-responsive">
          </a>
        </div>
        <div class="col-md-6 col-sm-6">
          <a href="{% static 'images/Family/9.JPG' %}" class="img image-popup">
            <div class="overlay"></div>
            <div class="text">
              <h2>Между первой и второй, .... :)</h2>
            </div>
            <img src="{% static 'images/Family/9.JPG' %}" width='700px' height='500px' alt="Image" class="img-responsive">
          </a>
        </div>

        <div class="row">
          <div class="col-md-6 col-md-offset-3">
              <a href="{% static 'images/Family/3.jpg' %}" class="img image-popup">
                <div class="overlay"></div>
                <div class="text">
                  <h2>Гордість, надія та майбутня опора!</h2>
                </div>
                <img src="{% static 'images/Family/3.jpg' %}" width='700px' height='500px' alt="Image" class="img-responsive">
              </a>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <a href="{% static 'images/Family/14.JPG' %}" class="img image-popup">
            <div class="overlay"></div>
            <div class="text">
              <h2>Що тільки не зробиш, щоб дітям було весело :)</h2>
            </div>
            <img src="{% static 'images/Family/14.JPG' %}" width='700px' height='500px' alt="Image" class="img-responsive">
          </a>
        </div>
        <div class="col-md-6 col-sm-6">
          <a href="{% static 'images/Family/17.JPG' %}" class="img image-popup">
            <div class="overlay"></div>
            <div class="text">
              <h2>А взагалі, Олег все життя хотів у балет...</h2>
            </div>
            <img src="{% static 'images/Family/17.JPG' %}" width='700px' height='500px' alt="Image" class="img-responsive">
          </a>
        </div>

        <div class="col-md-6 col-sm-6">
            <a href="{% static 'images/13.jpg' %}" class="img image-popup">
              <div class="overlay"></div>
              <div class="text">
                <h2>Мужик мужиком, але жінці допомагати треба!</h2>
              </div>
              <img src="{% static 'images/13.jpg' %}" width='700px' height='500px' alt="Image" class="img-responsive">
            </a>
        </div>
        <div class="col-md-6 col-sm-6">
          <a href="{% static 'images/Family/16.JPG' %}" class="img image-popup">
            <div class="overlay"></div>
            <div class="text">
              <h2>Ну ладно, і гірше бувало, можна потерпіти...</h2>
            </div>
            <img src="{% static 'images/Family/16.JPG' %}" width='700px' height='500px' alt="Image" class="img-responsive">
          </a>
        </div>
        <div class="col-md-6 col-sm-6">
          <a href="{% static 'images/Family/18.JPG' %}" class="img image-popup">
            <div class="overlay"></div>
            <div class="text">
              <h2>Так, Аня, давай трошки заспокоїмось з тими приколами!</h2>
            </div>
            <img src="{% static 'images/Family/18.JPG' %}" width='700px' height='500px' alt="Image" class="img-responsive">
          </a>
        </div>
        <div class="col-md-6 col-sm-6">
          <a href="{% static 'images/19.jpg' %}" class="img image-popup">
            <div class="overlay"></div>
            <div class="text">
              <h2>Ось тепер нормально, можна було і потерпіти)</h2>
            </div>
            <img src="{% static 'images/19.jpg' %}" width='700px' height='500px' alt="Image" class="img-responsive">
          </a>
        </div>

        <div class="col-md-6 col-sm-6">
          <a href="{% static 'images/16.jpg' %}" class="img image-popup">
            <div class="overlay"></div>
            <div class="text">
              <h2>Який тато!</h2>  
            </div>
            <img src="{% static 'images/16.jpg' %}" width='700px' height='500px' alt="Image" class="img-responsive">
          </a>
        </div>
        <div class="col-md-6 col-sm-6">
          <a href="{% static 'images/15.jpg' %}" class="img image-popup">
            <div class="overlay"></div>
            <div class="text">
              <h2>Така і сім'я!</h2>
            </div>
            <img src="{% static 'images/15.jpg' %}" width='700px' height='500px' alt="Image" class="img-responsive">
          </a>
        </div>

        <div class="col-md-6 col-sm-6">
          <a href="{% static 'images/s2.jpg' %}" class="img image-popup">
            <div class="overlay"></div>
            <div class="text">
              <h2>То відчуття коли один мотувує іншого!</h2>
            </div>
            <img src="{% static 'images/s2.jpg' %}" width='700px' height='500px' alt="Image" class="img-responsive">
          </a>
        </div>
        <div class="col-md-6 col-sm-6">
          <a href="{% static 'images/s1.jpg' %}" class="img image-popup">
            <div class="overlay"></div>
            <div class="text">
              <h2>І це дуже круто!</h2>  
            </div>
            <img src="{% static 'images/s1.jpg' %}" width='700px' height='500px' alt="Image" class="img-responsive">
          </a>
        </div>

      </div>
    </section>

    <section class="grid-gallery">
      <div class="container">

        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <h2 class="section-heading">Ну і, власне, сам Олег</h2>
          </div>
        </div>

        <div class="row gallery-row">


          <div class="col-md-6 col-sm-6">
            <a href="{% static 'images/Oleg/5.JPG' %}" class="img image-popup">
              <div class="overlay"></div>
              <div class="text">
                <h2>Залишайтесь таким же елегантним!</h2>
              </div>
              <img src="{% static 'images/Oleg/5.JPG' %}" width='700px' height='500px' alt="Image" class="img-responsive">
            </a>
          </div>

          <div class="col-md-6 col-sm-6">
            <a href="{% static 'images/Oleg/2.JPG' %}" class="img image-popup">
              <div class="overlay"></div>
              <div class="text">
                <h2>Життєрадісним!</h2>
              </div>
              <img src="{% static 'images/Oleg/2.JPG' %}" width='700px' height='500px' alt="Image" class="img-responsive">
            </a>
          </div>

          <div class="col-md-6 col-sm-6">
            <a href="{% static 'images/Oleg/3.JPG' %}" class="img image-popup">
              <div class="overlay"></div>
              <div class="text">
                <h2>Харизматичним!</h2>
              </div>
              <img src="{% static 'images/Oleg/3.JPG' %}" width='700px' height='500px' alt="Image" class="img-responsive">
            </a>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="row first-row">
              <div class="col-md-6 col-sm-6">
                <a href="{% static 'images/Oleg/1.jpg' %}" class="img image-popup">
                  <div class="overlay"></div>
                  <div class="text">
                    <h2>Шось є у вас піратське...</h2>
                  </div>
                  <img src="{% static 'images/Oleg/1.jpg' %}" width='700px' height='500px' alt="Image" class="img-responsive">
                </a>
              </div>
              <div class="col-md-6 col-sm-6">
                <a href="{% static 'images/Oleg/6.JPG' %}" class="img image-popup">
                  <div class="overlay"></div>
                  <div class="text">
                    <h2>Веселим і серйозним тоді коли це потрібно)</h2>
                  </div>                
                  <img src="{% static 'images/Oleg/6.JPG' %}" width='700px' height='500px' alt="Image" class="img-responsive">
                </a>
              </div>
            </div>
          </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
              <a href="{% static 'images/Family/15.JPG' %}" class="img image-popup">
                <div class="overlay"></div>
                <div class="text">
                  <h2>Перше та останнє фото в різницю майже 50 років. Нічого не міняється))) Тільки тепер треба 2 табуретки xD</h2>
                </div>
                <img src="{% static 'images/Family/15.JPG' %}" width='700px' height='500px' alt="Image" class="img-responsive">
              </a>
            </div>
        </div>

        </div>
      </div>
    </section>

 <!--    {% block left_description %}{% endblock left_description %}
      
          
    <section class="feature">
      <div class="container">
        <div class="row">

        <script type="text/javascript">
          var disqus_config = function () { 
          this.language = "ru";
          };
        </script>

        {% load disqus_tags %}
        {% disqus_dev %}

        <script type="text/javascript">
          var disqus_developer = 1;
          var disqus_url = 'http://happy-birthday.com/';
        </script>

        {% load disqus_tags %}
        {% disqus_show_comments %}

        </div>
      </div>
    </section> -->
    
  </main>
  {% endblock main_content %}
